In [1]:
!pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu117

Looking in indexes: https://download.pytorch.org/whl/cu117

[notice] A new release of pip is available: 23.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: torch in c:\users\sai charan\anaconda3\lib\site-packages (2.0.0+cu117)
Requirement already satisfied: torchvision in c:\users\sai charan\anaconda3\lib\site-packages (0.15.1+cu117)
Requirement already satisfied: torchaudio in c:\users\sai charan\anaconda3\lib\site-packages (2.0.1+cu117)
Requirement already satisfied: filelock in c:\users\sai charan\anaconda3\lib\site-packages (from torch) (3.12.0)
Requirement already satisfied: typing-extensions in c:\users\sai charan\anaconda3\lib\site-packages (from torch) (4.5.0)
Requirement already satisfied: sympy in c:\users\sai charan\anaconda3\lib\site-packages (from torch) (1.11.1)
Requirement already satisfied: networkx in c:\users\sai charan\anaconda3\lib\site-packages (from torch) (3.0)
Requirement already satisfied: jinja2 in c:\users\sai charan\anaconda3\lib\site-packages (from torch) (3.1.2)
Requirement already satisfied: numpy in c:\users\sai charan\anaconda3\lib\site-packages (from torchvision) (1.23.5)
Requirement already satisfied: requests in c:\users\sai charan\anaconda3\lib\site-packages (from torchvision) (2.25.1)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in c:\users\sai charan\anaconda3\lib\site-packages (from torchvision) (8.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sai charan\anaconda3\lib\site-packages (from jinja2->torch) (2.1.2)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\sai charan\anaconda3\lib\site-packages (from requests->torchvision) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sai charan\anaconda3\lib\site-packages (from requests->torchvision) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sai charan\anaconda3\lib\site-packages (from requests->torchvision) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sai charan\anaconda3\lib\site-packages (from requests->torchvision) (2021.5.30)
Requirement already satisfied: mpmath>=0.19 in c:\users\sai charan\anaconda3\lib\site-packages (from sympy->torch) (1.2.1)

In [2]:
#jupyter notebook --notebook-dir=/Users/yourname/folder1/folder2/

In [54]:
import torch
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [55]:
df_orginal = pd.read_csv("framingham.csv", na_values=['NA'])
df = df_orginal.copy(deep=True)

In [56]:
df.head(5)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [57]:
df.shape

(4238, 16)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [59]:
print(df.isnull().sum())
df[df.isnull().any(axis=1)] # 582 rows -> atleast 1 column value is null

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
14,0,39,2.0,1,9.0,0.0,0,0,0,226.0,114.0,64.0,22.35,85.0,NaN,0
21,0,43,1.0,0,0.0,0.0,0,0,0,185.0,123.5,77.5,29.89,70.0,NaN,0
26,0,60,1.0,0,0.0,0.0,0,0,0,260.0,110.0,72.5,26.59,65.0,NaN,0
33,1,61,NaN,1,5.0,0.0,0,0,0,175.0,134.0,82.5,18.59,72.0,75.0,1
36,1,56,NaN,0,0.0,0.0,0,0,0,257.0,153.5,102.0,28.09,72.0,75.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4208,0,51,1.0,1,9.0,0.0,0,0,0,340.0,152.0,76.0,25.74,70.0,NaN,0
4229,0,51,3.0,1,20.0,0.0,0,1,0,251.0,140.0,80.0,25.60,75.0,NaN,0
4230,0,56,1.0,1,3.0,0.0,0,1,0,268.0,170.0,102.0,22.89,57.0,NaN,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0

In [60]:
def impute_data():
  # print(df['education'].mean())
  # print(df['education'].median())
  df['education'].fillna(df['education'].mean(), inplace=True)
  # print(df['cigsPerDay'].mean())
  # print(df['cigsPerDay'].median())
  df['cigsPerDay'].fillna(df['cigsPerDay'].median(), inplace=True)
  # print(df['BPMeds'].mean())
  # print(df['BPMeds'].median())
  df['BPMeds'].fillna(df['BPMeds'].mean(), inplace=True)
  # print(df['totChol'].mean())
  # print(df['totChol'].median())
  df['totChol'].fillna(df['totChol'].mean(), inplace=True)
  # print(df['BMI'].mean())
  # print(df['BMI'].median())
  df['BMI'].fillna(df['BMI'].mean(), inplace=True)
  # print(df['glucose'].mean())
  # print(df['glucose'].median())
  df['glucose'].fillna(df['glucose'].mean(), inplace=True)
  # print(df['heartRate'].mean())
  # print(df['heartRate'].median())
  df['heartRate'].fillna(df['heartRate'].mean(), inplace=True)

impute_data()
df.isnull().sum()

male               0
age                0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [61]:
df['cigsPerDay'] = df['cigsPerDay'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4238 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4238 non-null   int32
 5   BPMeds           4238 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4238 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4238 non-null   float64
 13  heartRate        4238 non-null   float64
 14  glucose          4238 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(8), int32(1), int64(7)
memory usage: 513.3 KB

In [62]:
X = df.drop(['TenYearCHD'], axis=1)
Y = df['TenYearCHD']

In [63]:
def feature_normalize(X):
  min_val = X.min(axis=0)
  max_val = X.max(axis=0)
  scaled_data = (X - min_val)/(max_val - min_val)
  return scaled_data

def feature_standardization(X):
  mean = np.mean(X, axis=0)
  std = np.std(X, axis=0, ddof=1) 
  x_norm = (X - mean)/std
  return x_norm

X = feature_standardization(X)

In [64]:
X.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose
0,1.153056,-1.234805,2.006851,-0.988154,-0.751234,-0.175823,-0.077023,-0.671022,-0.162457,-0.941234,-1.195766,-1.082497,0.286909,0.342704,-0.217491
1,-0.867056,-0.418208,0.020902,-0.988154,-0.751234,-0.175823,-0.077023,-0.671022,-0.162457,0.299560,-0.515126,-0.158970,0.719240,1.590087,-0.261280
2,1.153056,-0.184895,-0.972072,1.011749,0.929100,-0.175823,-0.077023,-0.671022,-0.162457,0.186760,-0.220183,-0.242927,-0.113489,-0.073090,-0.524016
3,-0.867056,1.331643,1.013877,1.011749,1.769267,-0.175823,-0.077023,1.489913,-0.162457,-0.264438,0.800777,1.016429,0.682394,-0.904679,0.921032
4,-0.867056,-0.418208,1.013877,1.011749,1.181150,-0.175823,-0.077023,-0.671022,-0.162457,1.089156,-0.106743,0.092902,-0.663729,0.758498,0.132824

In [65]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, shuffle=False)
print(X_train.shape, Y_train.shape)

(2542, 15) (2542,)

In [66]:
X_train = torch.tensor(X_train.values)

In [67]:
X_test = torch.tensor(X_test.values)
Y_train = torch.tensor(Y_train.values)
Y_test = torch.tensor(Y_test.values)

In [68]:
X_train.shape

torch.Size([2542, 15])

In [69]:
Y_train.shape

torch.Size([2542])

In [70]:
class LogisticRegression(torch.nn.Module):
     def __init__(self, input_dim, output_dim):
         super(LogisticRegression, self).__init__()
         self.linear = torch.nn.Linear(input_dim, output_dim)
     def forward(self, x):
         outputs = torch.sigmoid(self.linear(x))
         return outputs

In [76]:
epochs = 1000
input_dim = 15
output_dim = 1
learning_rate = 0.05

In [77]:
model = LogisticRegression(input_dim, output_dim)
criterion = torch.nn.BCELoss()
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

In [78]:
X_train.type

In [79]:
for epoch in range(epochs):
    optimizer.zero_grad()
    
    X_train = X_train.to(torch.float32)
    y_pred = model(X_train)
    
    y_pred = y_pred.to(torch.float32)
    Y_train = Y_train.to(torch.float32)
    loss = criterion(torch.squeeze(y_pred), Y_train)
    
    loss.backward()
    optimizer.step()

In [80]:
with torch.no_grad():
    X_test = X_test.to(torch.float32)
    pred = model(X_test).round()
    

count = 0
for i in range(Y_test.shape[0]):
    if pred[i] == Y_test[i]:
        count += 1
    
accuracy = count/Y_test.shape[0]
print(f"Accuracy: {accuracy*100}%")

Accuracy: 85.49528301886792%